* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

:root {
  --search: #98EDC3;
  --fav: #FECACD;
  --neutral: #3E3E3E;
  --unfav: #FF6759;
}

h1 {
  text-align: center;
  display: inline;
  font-size: 48px;
  font-family: "Tillana", system-ui;
  font-weight: 400;
  font-style: normal;
  & .search {
    color: var(--search)
  }

  & .middle {
    color: var(--neutral)
  }

  & .favs {
    color: var(--fav)
  }
}

p, li, input {
  color: #3E3E3E;
  font-family: "Voces", sans-serif;
  color: #3E3E3E;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

h1 span {
  text-align: center;
}

a {
  text-decoration: none;
  color: #3E3E3E;
}

.styledButton {
  border-radius: 8px;
  background-color: white;
  padding: 3px 12px;
  font-family: "Voces", sans-serif;
  color: var(--neutral);
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  cursor: pointer;
  min-width: 80px;

  &.--searchButton {
    &.--searchTheme {
      background-color: var(--search);
      border: 0px;
    }
  }

  &.--favsButton {
    &.--favsTheme {
      background-color: var(--fav);
      border: 0px;
    }
  }

  &.--unfavButton{
    background-color: var(--unfav);
  }

  &.--sortButton{
    border-radius: 21px;
  }
}

.form-input{

  & input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
  }

  & .glass {
    background: inherit;
    border: 0px;
    cursor: pointer;
    margin-right: 3px;
  }
}

.display-zone {
  display: flex;
  flex-flow:row wrap;
  justify-content:space-around;
}

.search-zone {
  margin-bottom: 75px;
  text-align: center;
  height: 260px;
  position: relative;

  &.--searchTheme {
    
    border-bottom: var(--search) solid 2px;
    box-shadow: 7px 0px 18px 0px var(--search);
  }

  &.--favsTheme {
    border-bottom: var(--fav) solid 2px;
    box-shadow: 7px 0px 18px 0px var(--fav);
  }

  & .searcher-container {
    margin-bottom: 15px;

    & .searcher {
      display: inline-block;
      margin-bottom: 10px;

      & .glass {
        margin-left: 6px;
      }
    }

    & .link-buttons {
      display: block;

      & button {
        display: inline;
        margin: 5px;
      }
    }
  }

  & .sort-by {
    
    & button {
      margin: 5px 2px;
    }
  }
}

.overlay {
  display: flex;
  width: 400px;
  inset: 0;
  background-color: #D9D9D950;
  position: absolute;
  z-index: 1;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  transition: opacity 100ms ease-in 0ms;

  & .division{
    background-color: black;
    width: 1px;
    height: 100%;
    opacity: 0.5;
  }

  & .icon {
    opacity: 0.7;
  }
  
}

.popup {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

  &.--visible {
    display: block;
  }

  & .content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 25px;
    border: 1px solid #888;
    max-width: fit-content;
    border: 0px;
    border-radius: 30px;
    position: relative;
    text-align: center;

    & .close {
      position: absolute;
      top: 10px;
      right: 14px;
      background: inherit;
      border: none;
      color: var(--neutral);
      cursor: pointer;
      font-family: "Voces", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1rem;
    }

    & .info {
      position: relative;
      margin-top: 15px;

      & ul {
        list-style-type: none;
        text-align: left;
        margin-bottom: 20px;
      }
    }

    & .title-modify {

      & button {
        margin-left: 10px;
      }
    }

    & .__unfav {
      margin-top: 20px;
    }
    
  }
}

.image {
  max-height: 600px;
  max-width: 300px;
}

.icon {
  width: 160px;
  height: 160px;
  cursor: pointer;

  &.--small {
    width: 20px;
    height: 20px;
  }
}

.display-photo{
  position: relative;
  width: 400px;
  align-self: center;
}

.display-photo:hover > .overlay,
.display-photo:focus > .overlay,
.display-photo:focus-within > .overlay {
  opacity: 1;
}





@media only screen and (min-width: 1000px) {

  h1 {
    position: absolute;
    left: 50px;
    top: 10px;
    line-height: 1.1;
  }

  h1 span {
    display: block;
  }

  .search-zone {
    height: 180px;

    & .link-buttons {
      position: absolute;
      top: 35px;
      right: 6%;

      & button {
        margin: 12px 0px;
        display: block;
      }
    }

    & .searcher-container {
      padding-top: 40px;
      margin-bottom: 5px;
  
    }
  }

  .image {
    max-height: 600px;
    max-width: 1800px;
  }

  .__unfav {
    position: absolute;
    bottom: 15px;
    left: 15px;
  }

  .info {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    margin-bottom: 15px;

    & ul {
      margin-right: 20px;
    }
  }

}