* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

:root {
  --search: #B0FFC8;
  --fav: #FFC9F7;
  --neutral: #3E3E3E;
}

a {
  text-decoration: none;
  color: var(--neutral);
}

.title {
  font-size: 48px;

  &.--searchTheme {
    color: var(--search)
  }

  &.--favsTheme {
    color: var(--fav)
  }
}

.styledButton {
  border-radius: 8px;
  background-color: white;

  &.--searchButton {
    &.--searchTheme {
      background-color: var(--search)
    }
  }

  &.--favsButton {
    &.--favsTheme {
      background-color: var(--fav)
    }
  }
}

.overlay {
  display: none;
  width: 400px;
  inset: 0;
  background-color: #3E3E3E95;
  position: absolute;
  z-index: 1;
  align-items: center;
  
}



.icon {
  width: 180px;
  height: 180px;
}

.display-photo{
  position: relative;
  width: 400px;
}

.display-photo:hover > .overlay,
.display-photo:focus > .overlay,
.display-photo:focus-within > .overlay {
  display: flex;
}